.projectsBlock {
    height: 100vh;
    background-color: #ffd4f0;
    /*border: 1px solid;*/
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

